* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: white;
}

/* Container da imagem e do conteúdo por cima */
.imagem-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.netfluxo {
  position: absolute;
  top: 10px;
  width: 200px;
  padding-left: 15px;
}

/* Imagem de fundo */
.imagem-topo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) brightness(40%);
  position: relative;
}

/* Conteúdo sobre a imagem */
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*deixar o espaço de login alinhado no meio*/
  width: 350px;
  background-color: rgba(0, 0, 0, 0.70);
  padding: 30px 40px;
  
}

/* Formulário */
.container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.input-box {
    position: relative;
    width: 100%;
    height: 45px;
    margin: 15px 0px;
}

.input-box input{
    width: 100%;
    height: 100%;
    color: rgb(138, 137, 137);
    padding: 20px 20px 20px;
    background-color: rgb(65, 64, 64);
    border: 1px solid;
    font-size: 16px;
}

.entrar{
    position: relative;
    width: 100%;
    height: 35px;
    margin: 15px 0px;
}

.entrar input{
    width: 100%;
    height: 100%;
    background-color: rgb(235, 131, 33);
    color: white;
    font-size: 16px;
    border: 1px solid;
}

.ou{
    position: relative;
    width: 100%;
    height: 30px;
    margin: 15px 0px;
    text-align: center;
    color: rgb(138, 137, 137);
}

.acesso{
    position: relative;
    width: 100%;
    height: 35px;
    margin: 15px 0px;
}

.acesso input{
    width: 100%;
    height: 100%;
    background-color: rgb(122, 122, 122, 0.6);
    color: white;
    font-size: 16px;
    border: 0px;
}

.esqueceu {
    position: relative;
    width: 100%;
    height: 25px;
    margin: 10px 0px;
    text-align: center;
}

.esqueceu a{
    color: white;
    text-decoration: none;
}
.lembrar{
    position: relative;
    width: 100%;
    height: 25px;
    margin: 10px 0px;

}
.lembrar label input{
    margin-right: 5px;
}

.registrar {
    position: relative;
    width: 100%;
    height: 25px;
    margin: 10px 0px;
}

.registrar a{
    margin-left: 5px;
    color: white;
    text-decoration: none;
}

.registrar {
   color:rgb(138, 137, 137) ; 
}


/* Rodapé */
footer {
  background-color: #000000;
  color: rgb(71, 71, 71);
  padding: 30px 40px;
  width: 100%;
}

.footer duvidas {
  font-size: 20px;
}

ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}

ul a{
  color: rgb(71, 71, 71);
}




.lista1 {
  padding-bottom: 20px;
  padding-top: 20px;
}

.lista1 ul {
  justify-content: space-between;
}

.lista2 {
  padding-bottom: 20px;
}

.lista2 ul {
  justify-content: space-between;
}

.vazio {
  visibility: hidden;
}


.idioma a{
  text-decoration: none;
  font-size: 16px;
  color: white;
}